<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sirr.com | {% block title %} Shorten that url{% endblock title %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
        {% block styles %}
        <style media="screen">
            body {
                background-color: #6699ce;
            }
            .btn-link {
                color: #3acdfb;
            }
            ..btn-link:hover {
                color: #000000;
            }
        </style>
        {% endblock styles %}
    </head>
    <body>
        <div class="site-wrapper">

          <div class="site-wrapper-inner">

            <div class="cover-container">



              <div class="inner cover">
                {% block content %}
                {% endblock content %}
              </div>

              <div class="mastfoot">
                <div class="inner">
                  <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
              </div>

            </div>

          </div>

        </div>
    </body>
</html>
